<div class="title-text">
  @if (files.length === 0){
  <p>Drag and drop your audio files here</p>
  } @else{
  <p>Playlist</p>
  }
</div>

<div class="drop-zone"
  ngClass="{ 'dragging-over': isDragging }"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">

  <div class="audio-tracks-container" id="audio-tracks-container">
    @for (file of files; track $index) {
    <app-audio-track-box
      [songName]="file.name"
      [songId]="$index.toString()"></app-audio-track-box>
    }
  </div>

</div>
