<div class="title-text">
  @if (files.length === 0){
  <p>Drop your songs down here or -></p>
  } @else{
  <p>Playlist</p>
  }

  <input type="file" #fileInput id="fileInput" accept="audio/*"
    style="display: none;" (change)="onFileSelected($event)" multiple>
  <button (click)="addSong()" class="button-outline">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path
        stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
  </button>

</div>

<div class="drop-zone"
  ngClass="{ 'dragging-over': isDragging }"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">

  <div class="audio-tracks-container" id="audio-tracks-container">
    @for (file of files; track $index) {
    <app-audio-track-box
      [songName]="file.name"
      [songId]="$index.toString()"></app-audio-track-box>
    }
  </div>

</div>
