button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--black-color);
  padding: 6px;
  border-radius: 9999px;
  transition: background-color 0.3s ease, color 0.3s ease, scale 0.3s ease;
}

button:hover {
  background-color: var(--black-color);
  color: var(--component-bkg-color);
  cursor: pointer;
  scale: 1.2;
}

.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 10px;
  background-color: var(--component-bkg-color);
  border-radius: 18px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96%;
  color: var(--black-color);
  gap: 10px;
}

.progress-bar {
  appearance: none;
  width: 100%;
  height: 3px;
  outline: none;
  border-radius: 999px;
  cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: var(--black-color);
  border-radius: 999px;
  transition: all 0.3s ease;
}

.progress-bar::-webkit-slider-thumb:hover {
  scale: 1.5;
}

.buttons-volume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.temp {
  display: flex;
  flex-direction: row;
}

.temp,
.volume-bar-container {
  width: 200px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 6px;
}

.play-pause-button {
  fill: var(--black-color);
}

.previous-next-button {
  stroke: var(--black-color);
}

.volume-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;


  input {
    width: 40%;
  }

  svg {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    color: var(--black-color);
  }
}

.volume-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}