<div class="title-bar"></div>

<div class="window-controls">
  <button (click)="minimizeWindow()">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-compact-down"><path
        stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M4 11l8 3l8 -3" /></svg>
  </button>

  <button (click)="maximizeWindow()">
    @if( !windowMaximized ){
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-maximize"><path
        stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path
        d="M16 4h2a2 2 0 0 1 2 2v2" /><path
        d="M16 20h2a2 2 0 0 0 2 -2v-2" /></svg>
    } @else {
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-minimize"><path
        stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M15 19v-2a2 2 0 0 1 2 -2h2" /><path
        d="M15 5v2a2 2 0 0 0 2 2h2" /><path d="M5 15h2a2 2 0 0 1 2 2v2" /><path
        d="M5 9h2a2 2 0 0 0 2 -2v-2" /></svg>
    }
  </button>

  <button (click)="closeWindow()">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path
        stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
  </button>
</div>
<router-outlet></router-outlet>
