html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.thumbnail-container {
  width: 40%;
  height: 60vh;
}

.playlist-container {
  width: 40%;
  height: 60vh;
}

.player-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  width: 80%;
}