p {
  text-align: left;
  width: 90%;
  font-size: 14px;
  margin: 0px;
  padding: 10px;
  color: var(--black-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

video {
  width: 34px;
  height: 34px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--black-color);
  padding: 4px;
  border-radius: 999px;
  transition: all 0.3s ease;
}

svg {
  width: 20px;
  height: 20px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--black-color);
}

.audio-track-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 0px 10px;
  transition: all 0.3s ease;
}

.audio-track-box:hover {
  cursor: pointer;
  background-color: rgb(221, 221, 221);
}

.current-song {
  background-color: var(--black-color);

  p {
    color: white;
  }
}