/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #94D693;
  --primary-color-dark: #83ce81;

  --bkg-color: #eeeeee;
  --component-bkg-color: #f1f1f1;

  --accent-color: #ffffff;
  --black-color: #000000;
}

@font-face {
  font-family: 'Varela_Round';
  src: url('../public/Fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}

html,
body {
  background-color: var(--bkg-color);
  font-family: 'Varela_Round', sans-serif;
}