/* You can add global styles to this file, and also import other style files */
:root {
  --accent-color: #FFAF20;

  --component-bkg-color: #FFFFFF;

  --bkg-color: #fafafa;

  --black-color: #f78522;

}

.dark-theme {
  --accent-color: #FFAF20;

  --component-bkg-color: #3a3a3a;

  --bkg-color: #2b2b2b;

  --black-color: #FFAF20;
}

@font-face {
  font-family: 'Varela_Round';
  src: url('../public/Fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}

* {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bkg-color);
  font-family: 'Varela_Round', sans-serif;
  font-weight: 400;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.button-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--black-color);
  color: var(--black-color);
  padding: 6px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, scale 0.3s ease;
}

.button-outline:hover {
  background-color: var(--black-color);
  color: var(--component-bkg-color);
  cursor: pointer;
  scale: 1.2;
}
